{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet">
    <title>Gift Me</title>
</head>
<body>
<div class="ui attached stackable menu">
    <div class="ui container">
        <a class="item" href="{% url 'index' %}">
            <i class=""></i> Home
        </a>

        {% if user.is_authenticated %}
        <a class="item" href="{% url 'my_profile' %}">
            <i class=""></i> Мой профиль
        </a>
        <a class="right item">
            <i class=""></i>
            <a href="{% url 'my_wishes' %}">Мои желания</a>
        </a>
         <a class="right item">
            <i class=""></i>
            <a href="{% url 'add_holidays' %}">Мои праздники</a>
        </a>
        <a class="right item">
            <i class=""></i> {{ user.email }}
            <a href="{% url 'logout' %}" class="item">Выход</a>
        </a>
        {% else %}

        <a class="right item" href="{% url 'login' %}">Вход</a>
        <a class="item" href="{% url 'register' %}">
            <i class=""></i> Регистрация
        </a>

        {% endif %}

    </div>
</div>
{% block content %}


{% endblock %}
</div>

</body>
</html>